.main-title {

    color: #290955;
    

}

.job-title {

    color: #000000a6;
    background-color: #989cd8;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    

}

#high {

    color: #708090;
    

}

.rodape {

    color: #000000a6;
    background-color: #989cd8;
    padding: 0.5px
    

}

.post {

    background-color:#bfbbd085;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

